{% extends "layout.html" %}
{% block body %}
<div class="registerbody">
    <div class="wrapper">
        <h2>Login</h2>
        <form action="/login" method="post">
            {{form.csrf_token }}
            
            <div class="input-box">
                {{form.email.label }}

                {% if form.email.errors %}
                    {{form.email(class='is-invalid')}}
                    <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{form.email}}
                {% endif %}
            </div>

            <div class="input-box">
                {{form.password.label }}

                {% if form.password.errors %}
                    {{form.password(class='is-invalid')}}
                    <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{form.password}}
                {% endif %}
            </div>
            <div class="text">
                <h3 style="text-align:left; font-size: 12.7px;">Forgot password? <a href="{{ url_for('users.request_reset') }}" style="color:#E74646">Reset now</a></h3>
            </div>

            <div class="input-box button" style=" margin-bottom:10px;">
                <input type="Submit" value="Login" style="margin-top: -10px;">
            </div>
            <div class="text">
                <h3>Don't have a account? <a href="{{url_for('users.register')}}">Register now</a></h3>
            </div>
        </form>
    </div>
</div>
{% endblock body %}