
  body {
    background: #42455a;
  }
  section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section:nth-child(1) {
    color: #e0ffff;
  }
  section:nth-child(2) {
    color: #42455a;
    background: #e0ffff;
  }
  section:nth-child(3) {
    color: #e0ffff;
  }
  section:nth-child(4) {
    color: #42455a;
    background: #e0ffff;
  }
  section .container {
    margin: 100px;
  }
  section h1 {
    font-size: 3rem;
    margin: 20px;
  }
  section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  section .text-container {
    display: flex;
  }
  section .text-container .text-box {
    margin: 20px;
    padding: 20px;
  }
  section .text-container .text-box h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  @media (max-width: 900px) {
    section h1 {
      font-size: 2rem;
      text-align: center;
    }
    section .text-container {
      flex-direction: column;
    }
  }
  
  .reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


#name{
    position: absolute;
    font-size: 95px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    top: 170px;
    margin-left: 55px;
}



.profile-img{
    float: right;
    margin-top: 50px;
    margin-right: 95px;

}

p{
    font-size: 21px;

    line-height: 2;
   
}

a{
    
    color: #F7E1AE;
}


