.img401{
    height: 500px;
}
.container_error401{
    display: flex;
    justify-content: center;
}
.text_401{
    text-align: center;
}



.img403{
    height: 500px;
}
.container_error403{
    display: flex;
    justify-content: center;
}
.text_403{
    text-align: center;
}


.img404{
    height: 500px;
}
.container_error404{
    display: flex;
    justify-content: center;
}
.text_404{
    text-align: center;
}


.img500{
    height: 500px;
}
.container_error500{
    display: flex;
    justify-content: center;
}
.text_500{
    text-align: center;
}